@model ApplicationUser
@{
    ViewData["Title"] = "profile";
}

<div class="container p-5">
<div class=" container d-flex flex-column justify-content-center p-4" style=" height:600px; width:800px; background-color:#f9f8f9">
    <div class="mb-5 text-center" >
       <img src="~/Images/@Model.Image" class="rounded" style=" height:300px; width:300px; ">
   </div>
    <div class =" mb-5 fs-2 text-center" style="font-size=100px;" >@Model.Name</div>
    <div class="btn-group" role="group" aria-label="Basic example">
  <a href="~/downloads/downloads/" class="btn" style ="background-color:#009970; color:white">Downloads</a>
  <a href="~/favlist/favlist/" class="btn" style ="background-color:#009970; color:white">Favorits</a>
</div>
      
</div>
</div>

@*@section Styles{
    <link href="~/css/profile.css" rel="stylesheet" />

}
*@


