@model ApplicationUser
@{
    ViewData["Title"] = "UserData";
}

<div class=" container d-flex flex-column justify-content-center p-5" style=" height:80%; width:600px; background-color:#f9f8f9">
    <div class =" mb-5" >Arwa Anwar</div>
    <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary">Downloads(5)</button>
  <button type="button" class="btn btn-primary">Favorits(5)</button>
</div>
      
</div>


@*@section Styles{
    <link href="~/css/profile.css" rel="stylesheet" />

}
*@


