@{
    ViewData["Title"] = "Authors";
    Layout = "_DashboardLayout.cshtml";
    SelectList Authors = new SelectList(ViewBag.Authors, "Id", "Name");
}
@model Author
<h1>New Author</h1>
<form method="post" asp-action="SaveNewAuthor" asp-controller="Admin">
    <div>
         <label for="Name">Name</label>
         <input asp-for="@Model.Name" class="form-control"/>
         <span asp-validation-for="@Model.Name"></span>
    </div>
    <br/>
    <input type="submit" value="Add" class="btn" style="background-color:#009970" />
</form>
<br/>
<a href="/Admin/Authors" class="btn" style=" position: relative;
    left: 90%;
    top: -40px;background-color:#009970"> Back To List</a>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
