@model Maktabty.viewModels.LoginVM

@{
    ViewData["Title"] = "Login";
}

<section class="login">
        <div class="container">
            <div class="row">
                <div class="col col-lg-12 text-center">
                    <h1>Login</h1>
                </div>
            </div>
            <div class="row">
                <div class="col col-1 col-sm-2 col-md-2 col-lg-3">

                </div>
               
                <div class="col col-10 col-sm-8 col-md-8 col-lg-6 login-content">
                 <form asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" style="margin-top: 30px;" />
            </div>
             <h6 class="text-center signup"><a href="/Account/Register">Or Register</a></h6>
        </form>
                </div>
               
                <div class="col col-1 col-sm-2 col-md-2 col-lg-3">
             
                </div>
            </div>
        </div>
    </section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
